<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div id="square">
        <h1 id="head">Hi~~~ this is my FFF html</h1>
        <p>MY name is Daryl</p>
        <p id="foo">try this</p>
    </div>
    <form action="/" method="post">
        <label for="username">User name:</label><br>
        <input type="text" id="username" name="username" value="John"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" value="Doe"><br><br>
        <input type="submit" value="Submit">
    </form>


</body>

<style type="text/css">
    #head{color: red;}
    #square{background-color: pink;}
</style>

<script type="text/javascript">
    document.getElementById('foo').innerHTML='RRR'
    document.getElementById('foo').style.color = "blue"
    // var rows = 5;
    // for (var i = 1; i<=rows; i++){
    //     for (var j = 1; j<=i; j++){
    //         document.write("* ")
    //     }
    //     document.write("<br/>")
    // }
    var row = 4;
    for(var i = 0; i<row; i++){
        var str = '';
        for(var j=1; j<row-i; j++){
            str = str+'&nbsp';
        }
        for (var k=1; k<=(2*i+1); k++){
            str = str+'*'
        }
        document.write(str);
        document.write("<br/>")
    }
</script>

</html>